<div class="container">
	<h1>Posts</h1>
	<hr>



	<% @posts.each do |post| %>
		

		<h2><%= link_to post.title, post_path(post) %></h2>
		
		<small>Created at: <%= post.created_at %></small>

		<% if not post.content? %>
		 	<h4>No Content Added.</h4> 
		<% else %>
			<h4><%= post.content %></h4>
		<% end %>
		
		
		<hr>

	<% end %>

	<%= link_to "Add new Post", new_post_path %>
</div>