<div class="container">
	<h1><%= @post.title %></h1>
	<small><%= @post.created_at %></small>
	<p><%= @post.content %></p>
	<%= link_to "Edit Post", edit_post_path(@post)%><br>
	<%= link_to "Delete Post", @post, :confirm => "Are You Sure?", :method => :delete %>
	<hr>

	<%= link_to "Back To HomePage", posts_path %>
</div>