<!DOCTYPE html>
<html>
  <head>
    <title>Session3</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Blogger</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
         
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
               <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %> </li>
          <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path, :class => "glyphicon glyphicon-user"%></li>
          <li><%= link_to "Login", new_user_session_path, :class => "glyphicon glyphicon-log-in"%></li>
          
          <%end%>
        </ul>
      </div>
    </nav>
  <body>
       

    <%= yield %>
  </body>
</html>
